*.gem
*.rbc
dev/.bundle
dev/.config
dev/.yardoc
dev/Gemfile.lock
dev/InstalledFiles
dev/_yardoc
dev/coverage
dev/doc/
dev/lib/bundler/man
dev/pkg
dev/rdoc
dev/spec/reports
dev/test/tmp
gdev/eneration_spec/tmp/*
tdev/est/version_tmp
tmp
*sw?
*~
